/TestProject/.vs/ProjectEvaluation/testproject.metadata.v5.1
/TestProject/.vs/ProjectEvaluation/testproject.projects.v5.1
/TestProject/.vs/TestProject/FileContentIndex/b5aef611-f9ca-44e7-871e-0aca27f4ade3.vsidx
/TestProject/.vs/TestProject/v17/.futdcache.v2
/TestProject/.vs/TestProject/v17/.suo
/TestProject/TestProject/bin/Debug/net6.0/TestProject.dll
/TestProject/TestProject/bin/Debug/net6.0/TestProject.pdb
/TestProject/TestProject/obj/Debug/net6.0/TestProject.dll
/TestProject/TestProject/obj/Debug/net6.0/TestProject.pdb
